.userProfileTrackPage1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.userProfileTrackPage2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.trackCoverArt2 {
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.trackPageContainer {
  width: 1240px;
}

.writeComment {
  width: 100%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackPageContainer {
    width: 800px;
}

.flexboxBetween {
    display: flex;
    justify-content: space-between;
}