.expandedImg {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.nameHeaderText {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 9px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
}

.buttonDiv {
    display: flex;
    justify-content: flex-end;
}

.cancelButton {
    background-color: white;
    height: 26px;
    margin: 0px 10px;
    padding: 2px 11px 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    box-sizing: border-box;
    border-style: none;
}

.saveButton {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    box-sizing: border-box;
}

.addBorderRadius {
    border-radius: 50%;
}