.updateImage {
  width: 500px;
}

.updateImage:hover {
  cursor: pointer;
}

.SignupButton {
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 100%;
  min-width: 150px;
  color: #fff;
  background-color: #f50;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  justify-content: space-around;
  border: 1px solid #f50;
  border-radius: 3px;
}

.block {
    display: block;
}

.wide {
    width: 392px;
}

.SignupForm {
    width: 400px;
}

.smallMargin {
  margin: 5px 0px;
}