.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 388px;
  border: 1px solid #f2f2f2;
  margin-top: 50px;
}

.uploadTitle {
  font-size: 22px;
  font-family: "Lucida Grande";
  margin-top: 120px;
}

.uploadButtonDiv {
  margin-top: 30px;
}

.uploadInput {
  width: 300px;
  height: 40px;
}

.uploadContainer2 {
  border: 1px solid #f2f2f2;
  width: 770px;
  height: 837x;
  margin-top: 50px;
  padding: 14px;
}

.flexBox {
  display: flex;
}

.trackImgContainer {
  width: 260px;
  height: 260px;
  border: 1px solid #f2f2f2;
  margin: 5px;
}

.basicInfo {
  font-size: 24px;
  line-height: 1;
  padding-bottom: 9px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  color: #f50;
  font-family: "Lucida Grande";
}

.albumImg {
  height: 260px;
  width: 260px;
  object-fit: cover;
}

.trackTextField {
  height: 75px;
}

.imageInput {
  position: relative;
  width: 125px;
  height: 26px;
  left: 65px;
  bottom: 55px;
  z-index: 1;
  background-color: #fff;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 3px;
}

.uploadContainer3 {
  display: flex;
  width: 748px;
  height: 64px;
  border: 2px dashed #e5e5e5;
  margin-top: 50px;
  justify-content: space-between;
  padding: 10px 24px;
}

.uploadTitle3 {
  font-size: 18px;
  font-family: "Lucida Grande";
}

.uploadInput3 {
  width: 170px;
  height: 40px;
}

.uploadedTrack {
  width: 798px;
  height: 178px;
  border: 1px solid gray;
  margin-top: 40px;
}

.lastTrackCoverArt {
  height: 120px;
  width: 120px;
}