.TrackContainer {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0px;
}

.trackDiv {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px;
}

.trackCoverArt {
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.descriptionContainer {
    display: block;
    margin: 10px 30px;
}

.trackDescription {
    margin-bottom: 25px;
}