.TrackContainer {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0px;
}

.trackDiv {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 15px;
}

.trackCoverArt {
  height: 160px;
  width: 160px;
  object-fit: cover;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 30px;
  word-wrap: break-word;
  overflow: hidden;
}

.trackDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #696969;
  font-size: 16px;
}

.TrackContainer {
  height: 500px;
  width: 100%;
}

.noTrackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 39px 0px 120px;
}

.quietDiv {
  font-size: 18px;
}

.uploadNavLink {
  font-size: 14px;
}

.noTracksImage {
  width: 240px;
  height: 167px;
}

.editTrackButton,
.deleteTrackButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 10px 0px 0px 0px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.editTrackButton:hover,
.deleteTrackButton:hover {
  color:#000000;
  background-color: gray;
}

.deleteTrackButton {
  margin: 0px 0px 0px 10px;
}

.whiteActive2 {
  background-color: white;
}

.whiteActive2:hover {
  background-color: white;
}

.displayName {
  color: #696969;
  font-size: 16px;
}

.trackName {
  font-size: 22px;
}

.playContainer {
  display: flex;
}

.pauseIcon,
.playIcon {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}