.TrackContainer {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0px;
}

.trackDiv {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 15px;
}

.trackCoverArt {
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.descriptionContainer {
    display: block;
    margin: 10px 30px;
}

.trackDescription {
    margin-bottom: 25px;
}

.TrackContainer {
    height: 500px;
    width: 100%;
}

.noTrackContainer {
    height: 300px;
    width: 580px;
    text-align: center;
    padding: 39px 0px 120px;
}

.quietDiv {
    font-size: 18px;
}

.uploadNavLink {
    font-size: 14px;
}

.noTracksImage {
    width: 240px;
    height: 167px;
}

.editTrackButton,
.deleteTrackButton {
  margin: 0px 0px 0px 10px;
  padding: 5px;
}