.editProfileContainer {
  width: 800px;
  height: auto;
}

.editProfileBanner {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 9px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
  -webkit-font-smoothing: antialiased;
}

.editProfileImage {
  display: flex;
  height: 260px;
  width: 260px;
}

.editProfileDetails {
  display: block;
  flex-wrap: wrap;
  width: 100%;
}

.editProfileBody {
  display: flex;
}

.editProfileButtonsDiv {
  display: flex;
  justify-content: flex-end;
}

#cancelButton {
  margin: 0px 10px;
}

.textfield {
  width: 100%;
}

.bioTextField {
  height: 60px;
}

.halfField {
  width: 48%;
}

.updateImage2 {
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 26px;
  top: 270px;
  left: 85px;
  opacity: .7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #FFF;
  border-style: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.updateImage2:hover {
    opacity: 1;
}

.replaceDiv2, .deleteDiv2 {
  position: absolute;
  z-index: 1;
  width: 123px;
  height: 26px;
  background-color: #FFF;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.replaceDiv2 {
  top: 297px;
  left: 85px;
}

.deleteDiv2 {
  top: 323px;
  left: 85px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.opacity1 {
    opacity: 1;
}

.input {
    margin: 10px 0px 10px 10px;
}

.input2 {
    display:flex;
    justify-content: space-between;
    margin: 10px 0px 10px 10px;
}