.editProfileContainer {
    width: 800px;
    height: auto;
}

.editProfileBanner {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 9px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
}

.editProfileImage {
    display: flex;
    height: 260px;
    width: 260px;
}

.editProfileDetails {
    display: block;
    flex-wrap: wrap;
    width: 100%;
}

.editProfileBody {
    display: flex;
}

.editProfileButtonsDiv {
    display: flex;
    justify-content: flex-end;
}

#cancelButton {
    margin: 0px 10px;
}

.textfield {
    width: 100%;
}

.textfield2 {
    width: 50%;
}

.halfField {
    width: 50%;
}