.profileHeader {
    display: flex;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    height: 300px;
    width: 100%;
    z-index: 0;
    margin-bottom: 10px;
}

.profileHeaderImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profileDisplayName {
    background-color: black;
    color: white;
    height: 40px;
    font-size: 24px;
    line-height: 37px;
    padding: 4px 7px;
    margin: 5px;
    width: max-content;
}

.profileName {
    background-color: black;
    color: #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 37px;
    padding: 2px 7px 3px;
    margin: 5px;
    width: max-content;
}

.profileNameContainer {
    display: block;
}

.imageInputs {
    position: absolute;
    /* justify-self: end;
    width: 100%; */
}

.editButtonDiv {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.rightDiv {
    display: flex;
    justify-self: end;
    width: 100%;
}

.headerImgForm {
    width: 100%;
    justify-self: end;
}

.allTracksDiv {
    font-size: 18px;
    padding-left: 30px;
}