.profileHeader {
  display: flex;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  width: 100%;
  z-index: 0;
  margin-bottom: 10px;
}

.profileHeaderImg {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.profileHeaderImgDiv {
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profileDisplayName {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  margin: 5px;
  width: max-content;
}

.profileName {
  background-color: black;
  color: #ccc;
  height: 24px;
  font-size: 16px;
  line-height: 25px;
  padding: 2px 7px 3px;
  margin: 5px;
  width: max-content;
  text-align: center;
  vertical-align: middle;
}

.profileNameContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imageInputs {
  position: absolute;
}

.editButtonDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.rightDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.headerImgForm {
  width: 100%;
  justify-self: flex-end;
}

.allTracksDiv {
  font-size: 18px;
  padding-left: 30px;
}

input[type="file"] {
  display: none;
}
.imageUpload {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}

.updateImage {
  /* display: none; */
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 26px;
  top: 150px;
  left: 35px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.profileHeaderImgDiv:hover .updateImage {
  opacity: 1;
}

.updateImage3 {
  width: 125px;
  height: 26px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.profileNameContainer:hover .updateImage3 {
    opacity: 1;
}

.opacity1 {
  opacity: 1;
}

.replaceDiv {
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 26px;
  top: 176px;
  left: 35px;
  color: white;
  background-color: red;
}

.deleteDiv {
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 26px;
  top: 202px;
  left: 35px;
  color: white;
  background-color: blue;
}

.banner {
  position: absolute;
  height: 300px;
  left: 8px;
  right: 8px;
  z-index: -1;
}

.bannerImg {
  box-sizing: border-box;
  height: 300px;
  width: 100%;
}
