.profileHeader {
  display: flex;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  width: 100%;
  z-index: 0;
  margin-bottom: 10px;
}

.profileHeaderImg {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.profileAvatar {
  height: 200px;
  width: 200px;
}

.profileHeaderImgDiv {
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profileDisplayName {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  margin: 5px;
  width: max-content;
}

.profileName {
  background-color: black;
  color: #ccc;
  height: 24px;
  font-size: 16px;
  line-height: 25px;
  padding: 2px 7px 3px;
  margin: 5px;
  width: max-content;
  text-align: center;
  vertical-align: middle;
}

.profileNameContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
}

.imageInputs {
  position: absolute;
}

.allTrackDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
}

.editButtonDiv {
  display: flex;
  margin-bottom: 10px;
}

.editButton,
.deleteButton {
  margin: 0px 0px 0px 10px;
  padding: 5px;
}

.rightDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.headerImgForm {
  width: 100%;
  justify-self: flex-end;
}

input[type="file"] {
  display: none;
}
.imageUpload {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.updateImage {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 35px;
}

.updateImage, .updateImage3 {
  width: 125px;
  height: 26px;
  opacity: 0;
  transition: opacity 0.35s ease;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #FFF;
  border-style: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.updateImage3:hover {
  cursor: pointer;
}

.profileNameContainer:hover .updateImage3, .opacity1, .profileHeaderImgDiv:hover .updateImage {
  opacity: 1;
}

.replaceDiv, .replaceDiv3, .deleteDiv, .deleteDiv3 {
  position: absolute;
  z-index: 1;
  width: 123px;
  height: 26px;
  background-color: #FFF;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.replaceDiv {
  top: 177px;
  left: 35px;
}

/* .innerReplace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */

.deleteDiv, .deleteDiv3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.deleteDiv {
  top: 203px;
  left: 35px;
}

.deleteDiv:hover {
  cursor: pointer;
}

.replaceDiv3 {
  top: 57px;
}

.deleteDiv3 {
  top: 83px;
}

.deleteDiv3:hover {
  cursor: pointer;
}

.banner {
  position: absolute;
  height: 300px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.bannerImg {
  box-sizing: border-box;
  height: 300px;
  width: 100%;
}

.profileBodyContainer {
  display: flex;
  height: 100%;
}

.allTracksDiv {
  font-size: 18px;
  margin-left: 30px;
  width: 70%;
  border-top: 0.5px solid gray;
  /* height: calc(100vh - 342px); */
  /* border-right: 0.5px solid gray; */
}

.aboutMe {
  width: 30%;
  margin-right: 30px;
  padding: 30px 0px 0px 20px;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
}

.profileLayoutDiv {
  height: 100%;
}

.bodyHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}