.userListDiv {
    display: flex;
    margin: 25px;
    padding: 25px;
}

.userDivs {
    margin: 20px;
}

.profileLink {
    display: flex;
    justify-content: center;
    margin: 5px;
}

a {
    color: black;
    text-decoration: none;
}