.navigationBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #333;
  height: 48px;
}

.profileButton {
  display: flex;
  font-size: 14px;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 150px;
  color: #fff;
  background-color: #333;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  justify-content: space-around;
  border: none;
}

.profileButton:active {
  background-color: #111;
}

.profile-dropdown {
  background-color:white;
  margin-top: 95px;
  position: absolute;
  min-width: 150px;
  z-index: 1;
  border: .5px solid gray;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.logoutButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: black;
  cursor: pointer;
  font-size: 12px;
}

.profile-dropdown-li1 {
  list-style-type: none;
  font-size: 12px;
}

.profile-dropdown-li2 {
  list-style-type: none;
  padding: 5px;
  font-size: 12px;
}

.profile-dropdown-li1:hover,
.profile-dropdown-li2:hover {
  cursor: pointer;
  background-color: gray;
}

.ProfileNavLink {
  text-decoration: none;
  color: black;
  font-family: arial, sans-serif;
  font-size: 12px;
}

.ProfileLinkDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
}

.NavBarNavLink {
  display: flex;
  text-decoration: none;
  color: white;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 104px;
  justify-content: center;
  align-items: center;
}

.navigationBarProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarNavLinkDiv {
  display: flex;
  align-items: center;
}

.profileButtonImg {
    border-radius: 50%;
    background-color: white;
    height: 26px;
    width: 26px;
    object-fit: cover;
}

.buttonDiv {
    display: flex;
}

.buttonModalDiv {
    padding: 5px;
}

.active {
  background-color: black;
}

.whiteActive {
  background-color: white;
}

.whiteActive:hover {
  background-color: gray;
}

.sticky {
  /* position: fixed;
  top: 0;
  width: 100%;
  margin-right: 8px; */
  position: sticky;
  top: 0px;
  z-index: 5;
}